<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script src="{{ site.baseurl }}/js/site.js"></script>
  </body>
</html>